@page "/Receipts"
@inject IReceiptService ReceiptService
@inject NavigationManager NavigationManager

<section class="py-8">
    <div class="max-w-4xl mx-auto">

        <h1 class="text-4xl text-white text-center font-extrabold drop-shadow-md mb-16">Receipts</h1>

        @if (ReceiptService.Receipts != null && ReceiptService.Receipts.Any())
        {
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                @foreach (var receipt in ReceiptService.Receipts)
                {
                    <div class="bg-white p-4 shadow-md rounded-md">
                        <h3 class="text-lg font-semibold mb-2">Receipt @receipt.Id</h3>
                        <p class="text-gray-700">Name: @receipt.Name</p>
                        <p class="text-gray-700">Company: @receipt.Company</p>
                        <button class="bg-red-500 text-white font-bold py-1 px-2 rounded mt-2" @onclick="() => DeleteReceipt(receipt)">Delete</button>
                        <button class="bg-blue-500 text-white font-bold py-1 px-2 rounded mt-2" @onclick="() => ViewReceipt(receipt.Id)">View</button>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-gray-700">No data available</p>
        }

    </div>
</section>

@code {
    private List<Receipt>? receipts;

    protected override async Task OnInitializedAsync()
    {
        await ReceiptService.GetReceipts();
    }

    async Task DeleteReceipt(Receipt receipt)
    {
        await ReceiptService.DeleteReceipt(receipt.Id);
    }

    async Task ViewReceipt(int id)
    {
        NavigationManager.NavigateTo($"/receipts/{id}");
    }

}
